.wrapper{
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}

.bigHeading, .bigHeading2{
    font-size: 6rem;
    margin: 0;
    color: var(--white);
    font-weight: 800;

}

.bigHeading2{
    color: var(--blue);
}

.bigHeading:hover{
    color: var(--black);
    -webkit-text-stroke: 1px var(--white);
    transition: all 3ms;
}

.para{
    color: var(--grey);
    font-weight: 300;
}

.flexBtn{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.phoneBox{
    position: relative;
    width: 50%;
    display: block;
    margin-left: auto;
}

.gradient{
    position:  absolute;
    top: 5rem;
    right: 3rem;
    z-index: -1;    
    width: 40%;
    min-width: 200px;
}

.iphone{
    position:  absolute;
    top: 0;
    right: 2rem;
    width: 45%;
    min-width: 230px;
}


@media only screen and (max-width: 800px) {
        .info{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }


    .bigHeading, .bigHeading2{
        font-size: 4rem;
        text-align: center;
    }

    .para{
        font-size: 0.8rem;
        text-align: center;
    }

    .flexBtn{
       display: flex;
       justify-content: center;
    }

    .wrapper{
        flex-direction: column;
    }

    .phoneBox{
        margin-left: auto;
        margin-right: auto;
        margin-top: 3rem;
    }

    .gradient {
        left: 1rem;
      }
    
      .iphone {
        left: -1rem;
      }

}

@media only screen and (max-width: 600px) {
    .bigHeading,
    .bigHeading2 {
      font-size: 3rem;
      text-align: center;
    }
}
